<div class="checkoutContainer container">
  <app-checkout-item *ngFor="let cartItem of cartItems" [cartItem]="cartItem" (removeFromCart)="removeItem(cartItem)">

  </app-checkout-item>

  <hr style="height: 1px; width: 100%"/>

  <form #form="ngForm" (ngSubmit)="finalBuy()">
    <label>
      name
    </label>
    <input type="text" name="name" required minlength="3" (ngModelChange)="nameChanged($event)" [(ngModel)]="name">
    <label>
     address
    </label>
    <input type="text" name="address" required [(ngModel)]="address">
    <label>
      credit card
    </label>
    <input type="number" name="creditCard" required minlength="16" maxlength="16" [(ngModel)]="creditCard">


    <div class="checkout-buy-container">
      <h3 style="text-align: right; padding: 0; margin: 0">
        subtotal: {{this.totalCartAmount}}
      </h3>

      <button class="button" type="submit" style="margin-left: auto" [disabled]="form.invalid">
        Buy
      </button>
    </div>
  </form>
</div>
