.book-detailed-container {
  margin-top: min(7vh, 150px);
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;

  }
}

.detailed-container {
  display: flex;
  flex-direction: column;
  margin-left: 24px;

  h1, h3 {
    margin: 0;
    padding: 0;
  }

  .add-to-cart-container{
    display: flex;
    align-items: center;
    gap: 4px;

    .add-to-cart-input {
      width: 50px;
      padding:4px 2px;
      outline:none;
      border: 1px solid #bbb;
      border-radius: 8px;
      display:inline-block;
    }
  }

}

